@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
	background-image: url("tlo_index.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
}

#tytul {
	font-family: 'Roboto Slab', serif;
	font-size:  36px;
	color: white;
	text-align: center;
	text-shadow: 4px 4px 5px #171819;
}

#emerytura, form {
	font-family: 'Roboto', sans-serif;
	color: #cecece;
	text-align: center;
	text-shadow: 4px 4px 5px #171819;
}

#div {
        font-family: 'Roboto', sans-serif;
        color: black;
        text-align: center;
        text-shadow: 4px 4px 5px #171819;
}

button, input {
	font-family: 'Roboto', sans-serif;
	color: black;
	text-align: center;
}
